<!DOCTYPE html>
<html >

  <head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="../angular.ui.tab.hide.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.2/angular.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.2/angular-route.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.2/angular-animate.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.2/angular-sanitize.min.js"></script>	
	<script type="text/javascript" src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.3.min.js"></script>

    <script type="text/javascript" src="../angular.ui.tab.hide.js"></script>
    <script type="text/javascript" src="app.js"></script>
	
  </head>

  <body ng-app="TabHideDemo" ng-controller="MainCtrl as main">
    <hideable-tabset api="main.hideTabsApi">
        <uib-tabset style="height: 200px">
            <uib-tab ng-repeat="tab in main.tabs" active="tab.active">
                <uib-tab-heading>{{tab.heading}}</uib-tab-heading>
                <div>{{tab.content}}</div>
            </uib-tab>
        </uib-tabset>
    </hideable-tabset>
    <br/>
    <button type="button" class="btn btn-default" ng-click="main.addTab()">Add Tab</button>
    <button type="button" class="btn btn-default" ng-click="main.removeTab()">Remove Tab</button>
  </body>
</html>